{% extends "base.html" %}

{% block title %}All Products{% endblock %}

{% block content %}
<div class="container">
     <h3>All Products</h3><hr>
     {% for cat in allcategories %}
        <h4>{{cat.title}}</h4>
        <hr>
        <div class="row">
            {% for i in cat.product_set.all %}
            <div class="col-md-3" >
                <div class="m-4">
                    
                    
                    <h4><a href="{% url 'ecomapp:productdetail' i.slug %}">{{i.title}}</a></h4>
                    <img src="{{i.image.url}}" alt="" class="img-fluid" style="height: 2500;object-fit: cover;">
                    <p class="mt-3">Price: <strike>Rs. {{i.marked_price}}</strike> Rs.{{i.selling_price}}</p>
                    <a href = "#" class ="btn btn-primary">Add To Cart</a>
                    
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}

</div>


{% endblock %}
