<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <a href="{% url 'ecomapp:home' %}">Home</a>
    <a href="{% url 'ecomapp:about' %}">About</a>
    <a href="/about/">Contact-Us</a>
    <a href="{% url 'ecomapp:allproducts' %}">All-Products</a>

    
    <br>
    {% block content %}

    {% endblock %}
</body>
</html>