{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<hr>
<div class="container">
    
    
    <h1 class="text-center">This is ecommerce site</h1>
    <hr>
    <div class="row" mt-3>
        
        {% for i in product_list %}
        <div class="col-md-3" >
            <div class="m-4">
                

                <h3><a href="{% url 'ecomapp:productdetail' i.slug %}">{{i.title}}</a></h3>
                <img src="{{i.image.url}}" alt="" class="img-fluid" style="height: 2500;object-fit: cover;">
                <p class="mt-3">Price: <strike>Rs. {{i.marked_price}}</strike> Rs.{{i.selling_price}}</p>
                <a href = "#" class ="btn btn-primary">Add To Cart</a>
          
        </div>
        </div>
        {% endfor %}
        
    </div>
</div>
{% endblock %}
